*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-image: url("../img/background/background2.png");
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;    
}

header .nav{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;

    background-color: #333333;
    min-height: 10vh; margin: 0;
}

header .logo-bar{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;

}

header .logo-bar img{
    width: 100px;
    height: 100px;
}

header .nav-bar{
    width: 50%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;

}

header .nav-bar a{
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    color: white;

}

header .button{
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border-radius: 25%;
}

.button img {
    cursor: pointer;
    width: 30px;
    height: 30px;

}
/* SIDEBAR*/

/* Barra lateral oculta inicialmente */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Oculta inicialmente */
    width: 300px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease;
}

/* Cuando la barra está activa */
.sidebar.active {
    right: 0;
}

/* FORM */
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container { 
    display: grid;
    align-items: center;
    justify-content: center;
    background: white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    width: 100%; 
} 

h1 { 
    text-align: center; 
    color: #333; 
} 

p { 
    text-align: center; 
    color: #666; 
} 

a { 
    color: #ff7e5f; 
} 

.form-group { 
    margin-bottom: 15px; 
} 

label { 
    display: block; 
    margin-bottom: 5px; 
    color: #333; 
} 

input[type="text"], input[type="email"], input[type="date"], input[type="tel"], select, textarea {
    width: calc(100% - 10px); 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 5px; 
} 
textarea { 
    height: 100px; 
} 
button { 
    width: 100%; 
    padding: 10px; 
    background-color: #ff7e5f; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
} 
button:hover { 
    background-color: #ff6e7f; 
}

/* FOOTER */

footer{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #333333
}

footer #anex, #conex, #others{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

footer #anex .text-box{
    margin: 10px;
    width: 25vh;
    height: 20vh;
    display: grid;
    color: white;
}

footer #anex .text-box a{
    color: white;
    text-decoration: none;
    font-size: small;
}


footer #conex .con-logo{
    display: flex;
    justify-content: center;
    margin: 5vh;
}

footer #conex .con-logo img{
    width: 20vh;
    height: auto;
    margin: 1vh;
}

footer #conex .content{
    display: flex;
    margin: 5vh;
}

footer #conex .content img{
    width: 5vh;
    height: auto;
    margin: 1vh;
}

footer #conex p{
    color: white;
}


footer #others .text-det{
    display: grid;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 5vh 10vh;
    color: white;
}

footer #others .text-det .locations{
    width: 50vh;
}

footer #others .text-det a,p{
    color: white; 
}

footer #others .text-det p{
    text-align: center;
}


